<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/main/animate.min.css" rel="stylesheet" th:href="@{/css/main/animate.min.css}"/>
    <link href="../static/css/main/style.min862f.css" rel="stylesheet" th:href="@{/css/main/style.min862f.css}"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            首页公告位置
        </blockquote>
        <hr>
    </div>
    <div class="col-sm-3">
        <h2>Hello,Master</h2>
        <small>模块一：</small>
        <br>
        <br>
        <br>
    </div>
    <div class="col-sm-5">
        <h2>后台管理框架</h2>
    </div>
    <div class="col-sm-4">
        <h4>技术选型：</h4>
        <ol>
            <li>核心框架：Spring Boot。</li>
            <li>安全框架：Apache Shiro。</li>
            <li>模板引擎：Thymeleaf。</li>
            <li>持久层框架：MyBatis。</li>
            <li>定时任务:Quartz。</li>
            <li>数据库连接池：Druid。</li>
            <li>工具类：Fastjson。</li>
            <li>更多……</li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联系信息</h5>
                </div>
                <div class="ibox-content">
                    <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.ruoyi.vip" target="_blank">http://www.ruoyi.vip</a>
                    </p>
                    <p><i class="fa fa-qq"></i> QQ群：<s>满1389287</s><a
                            href="https://jq.qq.com/?_wv=1027&k=5omzbKc" target="_blank">506997994</a>
                    </p>
                    <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:">/ *</a>
                    </p>
                    <p><i class="fa fa-credit-card"></i> 支付宝：<a class="支付宝信息" href="javascript:">/ *</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>更新日志</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div class="panel-body">
                        <div class="panel-group" id="version">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-parent="#version" data-toggle="collapse" href="#v44">v4.4.0</a><code
                                            class="pull-right">2020.08.24</code>
                                    </h5>
                                </div>
                                <div class="panel-collapse collapse in" id="v44">
                                    <div class="panel-body">
                                        <ol>
                                            <li>升级bootstrapTable到最新版本1.17.1</li>
                                            <li>升级shiro到最新版1.6.0 阻止权限绕过漏洞</li>
                                            <li>升级fastjson到最新版1.2.73</li>
                                            <li>代码生成支持同步数据库</li>
                                            <li>代码生成支持富文本控件</li>
                                            <li>用户密码支持自定义配置规则</li>
                                            <li>新增表格自动刷新插件</li>
                                            <li>新增表格打印配置插件</li>
                                            <li>更换图片裁剪工具为cropper</li>
                                            <li>Excel支持sort导出排序</li>
                                            <li>代码生成支持自定义路径</li>
                                            <li>代码生成支持选择上级菜单</li>
                                            <li>代码生成支持上传控件</li>
                                            <li>新增表格参数（自定义加载文本的字体大小loadingFontSize）</li>
                                            <li>Excel注解支持设置BigDecimal精度&舍入规则</li>
                                            <li>操作日志记录排除敏感属性字段</li>
                                            <li>修复不同浏览器附件下载中文名乱码的问题</li>
                                            <li>用户分配角色不允许选择超级管理员角色</li>
                                            <li>更换表格冻结列插件</li>
                                            <li>添加右侧冻结列示例</li>
                                            <li>升级表格行编辑&移动端适应插件</li>
                                            <li>修复更新表格插件后无法设置实例配置问题</li>
                                            <li>修复更新表格插件后导致的主子表错误</li>
                                            <li>修复页面存在多表格，回调函数res数据不正确问题</li>
                                            <li>强退&过期清理登录帐号缓存会话</li>
                                            <li>表格树标题内容支持html语义化标签</li>
                                            <li>修复配置应用的访问路径首页页签重复问题</li>
                                            <li>优化openTab打开时滚动到当前页签</li>
                                            <li>表格请求方式method支持自定义配置</li>
                                            <li>菜单页签联动优化</li>
                                            <li>用户邮箱长度限制修改为50</li>
                                            <li>主子表示例添加日期格式案例</li>
                                            <li>修改表格行内编辑示例旧值参数</li>
                                            <li>操作日志查询方式调整</li>
                                            <li>唯一限制条件只返回单条数据</li>
                                            <li>修改Excel设置STRING单元格类型</li>
                                            <li>添加获取当前的环境配置方法</li>
                                            <li>截取返回参数长度，防止超出异常</li>
                                            <li>定时任务cron表达式验证</li>
                                            <li>拆分表格插件，按需引入</li>
                                            <li>多行文本框补齐必填错误提示背景</li>
                                            <li>其他细节优化</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>捐赠</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-warning">
                        Welcome~~~
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script type="text/javascript">
    $('#pay-qrcode').click(function () {
        var html = $(this).html();
        parent.layer.open({
            title: false,
            type: 1,
            closeBtn: false,
            shadeClose: true,
            area: ['600px', 'auto'],
            content: html
        });
    });
</script>
</body>
</html>
